*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::before{
    content:"";
    display: table;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
    
}

.container{
    width: 50%;
    margin: 2rem auto;
    min-width: 900px;
}

header h1{
    text-align: center;
    color: #e53170;
    font-family: 'Fredoka One', cursive;
}

.float-left{
    float: left;
}

div.card img{
    height: 6rem;
}

.card{
    margin: 2rem 0;
    width: calc((100% / 3) - 1.5rem);
    background-color: #0f0e17;
    color: white;
    display: inline-block;
    box-shadow: 5px 2.5px 2.5px lightslategray;
    
}

.card:nth-of-type(3n + 2){
    margin: 0 1.85rem;
} 

p{ 
    margin: 0 0 0.5rem 7rem;
}

h2{
    margin: 0.5rem 7rem;
    font-size: 1.2rem;  
}

a{
    text-decoration: none;
    margin-left: 1rem;
    color: #40b6d4;
}

.card:hover{
    box-shadow: 15px 10px 10px lightslategray;
}

section>p{
    text-align: center;
}

